@import "tailwindcss";

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme inline {
  --color-dark: #0a0a0a;
  --color-light: #d4d4d8; /* zinc-300 */
  --font-sans: var(--font-geist-sans);
  --breakpoint-*: initial;
  --breakpoint-mobile: 299px;
  --breakpoint-tablet: 767px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1199px;

  --animate-rotate-border: border-rotate 3s linear infinite;
  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}

body {
  background: theme(--color-dark);
  color: theme(--color-light);
  font-family: theme(--font-sans);
}