@import "tailwindcss";

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme inline {
  --color-dark: #0a0a0a;
  --color-light: #d4d4d8; /* zinc-300 */
  --breakpoint-*: initial;
  --breakpoint-mobile: 299px;
  --breakpoint-tablet: 767px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1199px;

  --animate-rotate-border: border-rotate 3s linear infinite;
  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }

  --animate-slide-left: slide-left 0.5s ease-in-out forwards;
  @keyframes slide-left {
    0% { transform: translateX(-20%); }
    100% { transform: translateX(0%); }
  }

  --animate-wipe: wipe ease-out forwards;
  @keyframes wipe {
    from {
      clip-path: inset(0 100% 0 0);
    } 
    to {
      clip-path: inset(0 0% 0 0);
    }
  }

  --animate-drop-down: drop-down ease-out forwards;
  @keyframes drop-down {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

body {
  background: theme(--color-dark);
  color: theme(--color-light);
}