@import "tailwindcss";

/* Default Styling */
@layer base {
  html {
    scrollbar-gutter: stable;
  }
  
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    @apply text-base antialiased;
  }
}

/* Typescale */
@utility text-base {
  font-size: 1rem;
  font-weight: 400;
} 

@utility text-sm {
  font-size: 0.875rem;
  font-weight: 400;
}

@utility text-lg {
  font-size: 1.125rem;
  font-weight: 500;
}

@utility text-xl {
  font-size: 1.625rem;
  font-weight: 600;
}

/* Margins */
@utility gap-section {
  gap: 0.75rem;
}

@utility gap-group {
  gap: 0.75rem;
}

/* Color Palette */
@theme {
  --color-background: oklch(0.1 0.0088 11.12);
  --color-primary: oklch(0.9 0.0088 11.12);
  --color-primary-muted: oklch(0.7067 0.0088 11.12);
  --color-accent: oklch(0.5933 0.1823 282.01);
}

/* Responsive Breakpoints */
@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile: 299px;
  --breakpoint-tablet: 767px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1199px;
}

/* Custom Animations */ 
@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --animate-rotate-border: border-rotate 3s linear infinite;
  @keyframes border-rotate {
    to { --border-angle: 360deg; }
  }

  --animate-slide-left: slide-left 0.5s ease-in-out forwards;
  @keyframes slide-left {
    0% { transform: translateX(-20%); }
    100% { transform: translateX(0%); }
  }

  --animate-wipe: wipe ease-out forwards;
  @keyframes wipe {
    from { clip-path: inset(0 100% 0 0); } 
    to { clip-path: inset(0 0% 0 0); }
  }

  --animate-drop-down: drop-down ease-out forwards;
  @keyframes drop-down {
    0% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }
}